function Main.main 2
push constant 10
call String.new 1
pop local 0
push constant 3
call String.new 1
pop local 1
push local 1
push constant 49
call String.appendChar 2
pop temp 0
push local 1
push constant 49
call String.appendChar 2
pop temp 0
push local 1
push constant 49
call String.appendChar 2
pop temp 0
push local 0
push constant 94
call String.appendChar 2
pop temp 0
push local 0
push constant 94
call String.appendChar 2
pop temp 0
push local 0
push constant 94
call String.appendChar 2
pop temp 0
push local 0
push constant 94
call String.appendChar 2
pop temp 0
push local 0
push constant 94
call String.appendChar 2
pop temp 0
push local 0
call Output.printString 1
pop temp 0
push local 1
call String.intValue 1
call Output.printInt 1
pop temp 0
push constant 0
return
